*{
    padding:0;
    margin:0;
    background-repeat: no-repeat;
}
.hide{
    display:none ;
}
.vaccineGame{
    width:100%;
    height: 100vh;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

.playableRegion{
    width:400px;
    height: 100vh;
    border-right: 8px dashed rgba(209, 160, 35,1);
    border-left: 8px dashed rgba(209, 160, 35,1);
    background: #2a2f30;
    background-repeat: no-repeat;
    margin:auto;
    position:relative;
    padding:0;
    
}

.lines{
    width:9px;
    height:90px;
    z-index: 1;
    background: rgba(228, 228, 228, 0.938);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 195px;
    left: auto;
    right: auto;

}

.openingScene{

    position: absolute;
    background-color: #6252ee;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    color:white;
    z-index:4;
    text-align: center;
    padding:15px;
    margin:auto;
    width: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: carfont;
    letter-spacing: 5;
    font-size:20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
    animation: animate 4s linear infinite;


}

.car{
    width: 50px;
    height:100px;
    background-image: url('truck.png');
    background-size: 50px 100px;
    background-position: center;
    z-index: 2;
    background-repeat: no-repeat;
    position: absolute;
    left:auto;
    right: auto;
    bottom: 150px;
    
}

.score{
    position: absolute;
    top:15px;
    left:40px;
    background-image: linear-gradient(to bottom right, rgb(255, 102, 0), white, green);
    background-repeat: no-repeat;
    width: 300px;
    line-height: 70px;
    text-align: center;
    color: rgba(40, 37, 201, 0.959);
    font-size:1.4em;
    font-family: fantasy;
    box-shadow: 1px 6px 7px rgba(112, 112, 112, 0.829);
    z-index: 2;
}

.traffic{
    width: 50px;
    height:90px;
    z-index:2;
    background-image: url('red.png');
    background-size: 50px 90px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:50px;
    bottom: 150px;
}

@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(90deg);
    }
}



